

@media (max-width: 767.98px) {

    html,
    body {
        font-size: 14px;
        line-height: 20px;
    }
p{  font-size: 14px; line-height: 20px;}
    .navbar-area.nav-fixed .logo-wrapper img {
        min-width: 60px;
        padding: 0px !important;
        max-width: 60px;
        margin-top: -5px;
    }
    .logo-wrapper{ float: left;}

    .responsive-mobile-menu{width: 100%}
    .navbar-area {
        padding: 0px !important;
    }
    .logo-wrapper img {
        min-width: 80px;
        padding-top: 8px;
    }
    .navbar-area .responsive-mobile-menu .navbar-toggler,
    .navbar-area.header-style-12 .responsive-mobile-menu .navbar-toggler,
    .navbar-area.header-style-09 .responsive-mobile-menu .navbar-toggler {
        float: right;
        margin-top: 16px !important;
        background-color: #6e1200;
    }
    .navbar-area.header-style-09.nav-fixed .responsive-mobile-menu .navbar-toggler {
        float: right;
        margin-top: 4px !important;
    }
    .navbar-toggler {
        padding: 2px;
    }
    .header-area.style-11 .header-inner{ text-align: center;}
    .header-area.style-11 .header-inner .title {
        color: #777;
        font-size: 38px;
        line-height: 38px;
    }

    .navbar-area.nav-fixed {

        height: 70px;
        border-bottom: none;
        padding-top: 15px !important;

    }
    .navbar-area .nav-container .navbar-collapse .navbar-nav li+li{ margin: 0px !important;}
    .navbar-area .navbar-collapse {
        top: 70px;
        background: #6e1200;
        width: 100%;
        padding: 20px !important;
        -webkit-transition: .5s ease-in;
        -moz-transition: .5s ease-in;
        -o-transition: .5s ease-in;
        transition: .5s ease-in;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav {

        margin-top: 0px;
        padding: 0px;
    }

    .navbar-area.nav-fixed .nav-container .navbar-collapse .navbar-nav li {
        padding: 0px;
        text-align: center;
        border-bottom: none;
        display: block;
        width: 100%;
        margin: 0;
    }

    .navbar-area .nav-container .navbar-collapse .navbar-nav li {
        font-size: 14px;
        width: 100%;
        padding: 0px;
        margin: 0px;
        text-align: center;
    }

    .navbar-area.white .nav-container .navbar-collapse .navbar-nav li a {
        display: block !important;
        color: #ffffff !important;
    }
    .navbar-area .nav-container .navbar-collapse .navbar-nav li a{   display: block !important;
        color: #ffffff !important;}
    .responsive-mobile-menu {
        width: 100%;
        height: 70px;
        padding-top: 0px;
    }
    .section-title p {
        font-size: 14px;

        line-height: 20px;
    }

    .section-title.left-aligned {
        text-align: center;
    }

    .section-title {
        text-align: center;
        margin-bottom: 20px;
    }
    .margin-bottom-30 {
        margin-bottom: 15px;
    }
    .single-connect-you-item{ padding: 15px 20px;}
    .padding-top-110 {
        padding-top: 20px;
    }
    .padding-top-80 {
        padding-top: 20px;
    }
    .section-title .title, .video-area .right-content-area .title, .download-area-wrapper .title, .contact-area-wrapper .title {
        font-size: 22px;
        line-height: 24px;
    }
    .section-title .subtitle, .video-area .right-content-area .subtitle, .download-area-wrapper .subtitle, .contact-area-wrapper .subtitle {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 0px;
    }
    .header-area.header-bg-11:after{ background: none;}
    .header-area.style-11 {
        padding-top: 150px;
        padding-bottom: 0px;
        height: 100vh;
    }
    #about{ padding-top: 30px;}
    .btn-img {
        max-width: 120px;
        /* height: 45px; */
        /* line-height: 36px; */
    }
    .padding-bottom-120 {
        padding-bottom: 30px;
    }
    .btn-wrapper {
        margin-top: 30px;
    }
    .padding-top-60 {
        padding-top: 30px;
    }
    .padding-top-120 {
        padding-top: 30px;
    }
    .footer-top {
        padding: 0px 0 20px 0;
    }
    .footer-widget {
        margin-bottom: 0px;
    }
    .nav_menus_widget ul li {
        margin: 0px 0;
    }
    .back-to-top {
        right: 10px;
        bottom: 80px;
    }
    .copyright-inner {
        padding: 10px 0;
    }
    .about_widget .footer-logo img {
        width: 45px;
    }
    .breadcrumb-area {
        padding: 100px 0 0px 0 !important;
    }
    .breadcrumb-area .page-title {
     
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
     
    }
    .contact-form .form-group .form-control {
        height: 35px;
        padding: 8px 12px;
    }
    .contact-form .form-group.textarea .form-control {
        resize: none;
        padding: 8px 12px;
        min-height: 150px;
    }
    .padding-bottom-85 {
        padding-bottom: 20px;
    }
    .submit-btn {
        width: 180px;
        height: 42px;
  
        font-size: 14px;
        line-height: 42px;
    }
    .section-title .subtitle .left-flower{ display: none;}
    .section-title .subtitle .right-flower{ display: none;}
    .single-connect-you-item .content .title {
        font-size: 20px;}
        .single-connect-you-item .icon {
            font-size: 36px;
            line-height: 30px;

            margin-top: 10px;
        }
}
